* {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding:0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  
}

body{
  background:rgb(16, 23, 41);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 10px 10px;
  position: block;
  width: min-content;
  height: min-content;
  background: white;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 1s ease;
}

.container-btn {
  display:flex;
  margin-left:100px;
  width:370px;
  margin-bottom: 10px;
  transition: 1s ease;
}

.searchbox{
  width: min-content;
  height: min-content;
  display:relative;
  align-items: center;
  justify-content: space-between;
}

.searchbar{
  width:390px;
  padding: 10px;
  height:50px;
  font-size:30px;
  font-weight:600;
}


.weather-rows{
  display: flexbox;
  margin: auto 10px;
  position: block;
  width: min-content;
  height: min-content;
  background: white;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 1s ease;
}

.btn{
  margin:5px ;
  align-items: center;
  height:50px;
  width:90px;
}

.submit-btn{
  background-color: rgba(255, 255, 255, 1);
  font-size:20px;
  font-weight: 600;
  border-radius: 10px;
  transition: 1s ease;
}

.clear-btn{
  background-color: rgba(255, 255, 255, 1);
  font-size:20px;
  font-weight: 600;
  border-radius: 10px;
  transition: 1s ease;
}


.clear-btn:hover{
  background-color:rgba(236, 177, 157, 0.781);
  cursor:pointer;
}

.submit-btn:hover{
  background-color:rgba(164, 235, 188, 0.781);
  cursor:pointer;
}

img{
  width:370px;
}

.weather-container{
  display:flex;
}

@media screen and (max-width: 600px) {

  .weather-rows{
    margin-top: 10px;
    width:min-content;
    float:left;
  }

  .btn{
    height:50px;
    width:140px;
    font-size:24px;
    margin: 0 8px;
  }
  .container-btn{
    display:flex;
    width:370px;
    margin:0;
  }

}