* {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding:0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  background:black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 400px;
  height: min-content;
  background: white;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 1s ease;
}

.searchbox{
  width: 100%;
  height: min-content;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar{
  width:100%;
  height:50px;
  font-size:30px;
  font-weight:600;
}

.submit-btn{
  height:50px;
  width:100px;
  background-color: rgba(55, 141, 206,0.5);
  font-size:20px;
  font-weight: 600;
  border-radius: 10px;
}

.error-img{
  display:flex;
}

.weather-container{
  display:flex;
}

.fade-animation{
  animation: 3s linear 1s slidein;
  animation-delay: 0.5s;
}